In [1]:
import pandas as pd
data = pd.read_csv('data/Sichuan/all_feat_with_label.csv')

In [2]:
data.head()

,phone_no_m,opposite_count,opposite_unique,voccalltype1,imeis,voc_calltype1,city_name_call,county_name_call,phone2opposite_mean,phone2opposite_median,...,arpu_mean,arpu_var,arpu_max,arpu_min,arpu_median,arpu_sum,arpu_skew,arpu_sem,arpu_quantile,label
0,672ddbf02a5544d32e4ecc9433b1981bffe23bf912273a...,1258.0,95.0,649.0,2.0,0.515898,2.0,7.0,13.242105,3.0,...,45.13250,0.140450,46.06,45.00,45.000,361.06,2.828427,0.132500,45.000,0
1,5e1272273e041e82cb275ae877710be98cdaf5b0a8f34d...,156.0,63.0,43.0,1.0,0.275641,1.0,2.0,2.476190,1.0,...,63.93750,337.148393,79.30,34.10,69.500,511.50,-0.740958,6.491806,69.500,0
2,eaab3472ec87b076e69e6e8bb62b14341638fc63661a6c...,1152.0,124.0,779.0,4.0,0.676215,3.0,8.0,9.290323,2.0,...,31.78125,353.889241,63.00,18.85,22.075,254.25,1.414106,6.651027,22.075,0
3,0ce1bb415704178bf44e9c9b431a39b083a132c8e6d99f...,5083.0,1229.0,1457.0,2.0,0.286642,3.0,15.0,4.135883,1.0,...,54.07125,3779.156612,173.12,19.00,21.200,432.57,1.570987,21.734640,21.200,0
4,28b87f35f63f65096a53e3a4c97eaffd4a6c43ffa7e92d...,61.0,47.0,19.0,1.0,0.311475,2.0,2.0,1.297872,1.0,...,50.00000,0.000000,50.00,50.00,50.000,400.00,0.000000,0.000000,50.000,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6106 entries, 0 to 6105
Data columns (total 57 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   phone_no_m             6106 non-null   object
 1   opposite_count         6025 non-null   float64
 2   opposite_unique        6025 non-null   float64
 3   voccalltype1           5989 non-null   float64
 4   imeis                  5989 non-null   float64
 5   voc_calltype1          5989 non-null   float64
 6   city_name_call         5989 non-null   float64
 7   county_name_call       5989 non-null   float64
 8   phone2opposite_mean    6025 non-null   float64
 9   phone2opposite_median  6025 non-null   float64
 10  phone2opposite_max     6025 non-null   float64
 11  phone2oppo_sum_mean    6025 non-null   float64
 12  phone2oppo_sum_median  6025 non-null   float64
 13  phone2oppo_sum_max     6025 non-null   float64
 14  call_dur_mean          6025 non-null   float64
 15  call_dur_median        6025 non-null   float64
 16  call_dur_max           6025 non-null   float64
 17  call_dur_min           6025 non-null   float64
 18  city_name_nunique      6025 non-null   float64
 19  county_name_nunique    6025 non-null   float64
 20  calltype_id_unique     6025 non-null   float64
 21  voc_hour_mode          6025 non-null   float64
 22  voc_hour_mode_count    6025 non-null   float64
 23  voc_hour_nunique       6025 non-null   float64
 24  voc_day_mode           6025 non-null   float64
 25  voc_day_mode_count     6025 non-null   float64
 26  voc_day_nunique        6025 non-null   float64
 27  sms_count              6103 non-null   float64
 28  sms_nunique            6103 non-null   float64
 29  sms_rate               6103 non-null   float64
 30  calltype_2             6102 non-null   float64
 31  calltype_rate          6102 non-null   float64
 32  hour_mode              6103 non-null   float64
 33  hour_mode_count        6103 non-null   float64
 34  hour_nunique           6103 non-null   float64
 35  day_mode               6103 non-null   float64
 36  day_mode_count         6103 non-null   float64
 37  day_nunique            6103 non-null   float64
 38  busi_count             6106 non-null   int64
 39  flow_mean              6106 non-null   float64
 40  flow_median            6106 non-null   float64
 41  flow_min               6106 non-null   float64
 42  flow_max               6106 non-null   float64
 43  flow_var               5233 non-null   float64
 44  flow_sum               6106 non-null   float64
 45  month_ids              6106 non-null   int64
 46  flow_month             5294 non-null   float64
 47  arpu_mean              5932 non-null   float64
 48  arpu_var               5470 non-null   float64
 49  arpu_max               5932 non-null   float64
 50  arpu_min               5932 non-null   float64
 51  arpu_median            5932 non-null   float64
 52  arpu_sum               6106 non-null   float64
 53  arpu_skew              5192 non-null   float64
 54  arpu_sem               5470 non-null   float64
 55  arpu_quantile          5932 non-null   float64
 56  label                  6106 non-null   int64
dtypes: float64(53), int64(3), object(1)
memory usage: 2.7+ MB